aiohttp
requests
youtube-dl
git+git://github.com/google/chatbase-python.git
https://github.com/mr-antisecurity/pyrogram/archive/asyncio.zip
tgcrypto
aria2p
appdirs
Pillow
hachoir
numpy
beautifulsoup4
